.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Special Elite", serif;
  width: 100%;
  align-items: center;
  background-color: #0d0a0b;
  color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo {
  font-family: "Cedarville Cursive";
  font-size: 1.5rem;
  grid-column: 1/2;
  margin: 0;
  padding-left: 3rem;
}

.nav-links {
  grid-column: 2/4;
}

.nav-links a {
  padding: 1rem;
  text-decoration: none;
}

.navbar a:visited {
  color: inherit;
}

.navbar a:hover {
  text-decoration: underline;
}
.user-link {
  grid-column: 4/6;
  justify-self: end;
  margin-right: 3rem;
}

.user-link h4 {
  display: inline;
  margin-right: 0.5rem;
}

.user-link button {
  background-color: var(--highlight-color);
  padding: 0.5rem;
  border: none;
}
