.page-container {
  /* grid-column: 2/3;
  justify-self: end;
  align-self: end; */
  float: right;
  font-size: 0.75rem;
}

.page-container span {
  color: white;
}

.page-button {
  background-color: white;
  border-radius: 5px;
}

.page-active {
  background-color: var(--highlight-color);
}
