.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
}

.left-column {
  grid-column: 1/2;
}

.upper-left {
  margin-left: 10rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1rem solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  background-image: url("../assets/books-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: flex-start;
}

.upper-left h1 {
  padding: 1rem;
  align-self: flex-start;
  /* background: rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
}

.upper-left img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.search-container {
  grid-column: 1/2;
  padding: 1rem;
  margin-left: 10rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-container h1 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
  background-color: #de9e36;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quotes-container {
  margin-top: 2rem;
  margin-right: 10rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: #474448;
  align-self: start;
}

.quotes-container h1 {
  background-color: var(--highlight-color);
  border-radius: 10px;
  padding: 0.25rem;
  margin-left: 1rem;
  font-family: "Cedarville Cursive";
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.results {
  grid-column: 1/2;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 10px;
  align-self: end;
  color: white;
}

.quotes-list {
  grid-column: 1/3;
}
