.register label {
  display: block;
  margin-top: 0.5rem;
}
.register input {
  font-family: "Special Elite";
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  background-color: var(--highlight-color);
  color: white;
  padding: 14px 20px;
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.register small {
  display: block;
  margin-bottom: 0.5rem;
}

.line {
  height: 1px;
  background-color: white;
  width: 25%;
  margin: auto;
}

.login-blurb {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* .register-button {
  padding: 0.25rem;
  width: 80%;
  margin-bottom: 1em;
  background-color: black;
  border: 1px solid black;
  color: #ececec;
} */

.register-button:hover {
  background-color: #358856;
}

/* .form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type="checkbox"] {
  padding: 12px 20px;
  margin-right: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  padding: 20px;
} */
