.sort-container {
  /* grid-column: 1/2; */
  background-color: #de9e36;
  border-radius: 10px;
  padding: 0.4rem;
  font-size: 0.75rem;
  /* justify-self: start;
  align-self: end; */
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sort-container label {
  margin-right: 0.5rem;
}

.sort-container select {
  padding: 0.25rem;
  font-family: "Special Elite";
  font-size: 0.75rem;
}
