.view-quote-container,
.add-quote-container {
  background-color: var(--main-div-color);
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.single-quote-container {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}

.single-quote-container li {
  font-size: 0.75rem;
  margin-right: 0.5rem;
}
